<Layout name="../../Layout/layout"/>
<h1>
    <span class="action-span"><a href="<?php echo U('add');?>">添加类型</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 类型列表 </span>
    <div style="clear:both"></div>
</h1>
<div class="form-div">
</div>
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>类型序号</th>
                <th>商品类型名称</th>
                <th>类型中的属性数</th>
                <th>操作</th>
            </tr>
			<?php foreach ($data as $k=>$v):?>
            <tr>
            	<td align="center"><span><?php echo $v['id'] ;?></span></td>
                <td class="first-cell">
                    <span><?php echo $v['type_name'] ;?></span>
                </td>
                <td class="first-cell">
                    <span><?php echo $v['attr_count'] ;?></span>
                </td>
				<td>
                <a  href="<?php echo U('Attribute/lst?type_id='.$v['id']) ;?>">属性列表</a>
                <a  href="<?php echo U('save?id='.$v['id'].'&p='.I('get.p',1));?>" title="编辑"><img src="__PUBLIC__/Images/icon_edit.gif" width="16" height="16" border="0" /></a>
                <a  onclick="return confirm('确定要删除么？');" href="<?php echo U('delete?id='.$v['id'].'&p='.I('get.p',1));?>" title="删除"><img src="__PUBLIC__/Images/icon_drop.gif" width="16" height="16" border="0" /></a>
                <a href="__GROUP__/Goods/goodsTrash?goods_id=<{$val.goods_id}>" onclick="" title="回收站"><img src="__PUBLIC__/Images/icon_trash.gif" width="16" height="16" border="0" /></a></td>

            </tr>
			<?php endForeach;?>
           
        </table>
    </div>
	
</form>
 <tr>
                <?php echo $page;?>
            </tr>
