<Layout name="../../Layout/layout"/>
<h1>
    <span class="action-span"><a href="<?php echo U('lst');?>">属性列表</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 添加属性 </span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    <form name="goods_form" method="post" action="__SELF__" enctype="multipart/form-data" >
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">属性名称</td>
                <td>
               <input type="text" name="attr_name"/>
                </td>
            </tr>
            <tr>
                <td class="label">所属类型</td>
                <td>
                	<select name="type_id">
                		<option value="0">选择类型</option>
						<?php foreach($data as $k=>$v): ?>
						<option value="<?php echo $v['id'] ;?>"><?php echo $v['type_name']; ?></option>
						<?php endforeach; ?>
                	</select>
                </td>
            </tr>
            <tr>
                <td class="label">属性类型</td>
                <td>
              <input type="radio" name="attr_type" value="唯一" checked="checked"/>唯一
              <input type="radio" name="attr_type" value="单选"/>单选
                </td>
            </tr>
            <tr>
                <td class="label">属性可选值</td>
                <td>
                	<textarea name="attr_option_values" cols="8" rows="8"></textarea>
                </td>
            </tr>
			
            <tr>
                <td colspan="2" align="center"><br />
                    <input type="submit" class="button" value=" 确定添加 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="footer">

</body>
</html>
<!--
	js客户端代码定义验证的规则
-->
<script type="text/javascript">
	$("form[name=goods_form]").validate({
		rules:{
			attr_name:{
				// required:true 必须输入的字段
				required:true,
				rangelength:[1,100]
			},
			attr_type:{
				required:true
			},
			attr_option_value:{
				required:true
			}
		}
	});
</script>









