<Layout name="../../Layout/layout"/>
<h1>
    <span class="action-span"><a href="<?php echo U('add?type_id='.I('get.type_id'));?>">添加属性</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 属性列表 </span>
    <div style="clear:both"></div>
</h1>
<div class="form-div">
</div>
<p>
	当前类型为：
<select onchange="location.href='+U('lst&type_id='+this.value)';">
<?php 
		$type_id = I('get.type_id');
		foreach($tyData as $k=>$v):
			if($type_id == $v['id'])
				$select = 'selected = "selected"';
			else
				$select = '';
?>
	<option <?php echo $select; ?>  value="<?php echo $v['id']; ?>"><?php echo $v['type_name']; ?></option>
	<?php endforeach; ?>
	</select>
</p>
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>属性名称</th>
                <th>属性类型</th>
                <th>属性可选值</th>
                <th>操作</th>
            </tr>
			<?php foreach ($data as $k=>$v):?>
            <tr>
                <td class="first-cell">
                    <span><?php echo $v['attr_name'] ;?></span>
                </td>
                <td class="first-cell">
                    <span><?php echo $v['attr_type'] ;?></span>
                </td>
                <td class="first-cell">
                    <span><?php echo $v['attr_option_values'] ;?></span>
                </td>
				<td>
                <a  href="<?php echo U('save?id='.$v['id'].'&p='.I('get.p',1)).'&type_id='.I('get.type_id');?>" title="编辑"><img src="__PUBLIC__/Images/icon_edit.gif" width="16" height="16" border="0" /></a>
                <a  onclick="return confirm('确定要删除么？');" href="<?php echo U('delete?id='.$v['id']);?>" title="删除"><img src="__PUBLIC__/Images/icon_drop.gif" width="16" height="16" border="0" /></a>
                <a href="__GROUP__/Goods/goodsTrash?goods_id=<{$val.goods_id}>" onclick="" title="回收站"><img src="__PUBLIC__/Images/icon_trash.gif" width="16" height="16" border="0" /></a></td>

            </tr>
			<?php endForeach;?>
           
        </table>
    </div>
	
</form>
 <tr>
                <?php echo $page;?>
            </tr>
